<div class="Index"><h1>Welcome to our wedding guestlist!</h1>
<div>You are among the lucky few that are invited to our awesome wedding in Prague!</div>
<div>Find out who else was as lucky as you by browsing our wedding guest app.</div>
<div>To break the ice during the wedding day, and make mingling fun, you can also find interesting information about the other guests, such as funfacts!</div>
<div>Great conversation starters if we do say so ourselves!</div></div>